@import "tailwindcss";

@layer utilities {
  @keyframes sweep {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-sweep {
    animation: sweep 8s linear infinite;
  }
  
  .animate-spin-slow {
    animation: sweep 15s linear infinite;
  }
}
